anthropic
python-dotenv
google-generativeai
google-genai

google-auth
google-auth-oauthlib==1.2.2
google-auth-httplib2
google-api-python-client

gspread==5.12.0
oauth2client==4.1.3

requests==2.31.0
gunicorn==21.2.0






